<header>
  <div class="navigation">
    <div class="navlink">
      <a href="#">Home</a>
    </div>
    <div class="navlink">
      <a href="#">Colors</a>
    </div>
    <div class="navlink">
      <a href="#">Cart<em></em></a>
    </div>
    <div class="navlink">
      <a href="#">Contact</a>
    </div>
  </div>
</header>
<div class="colorBody">
  <div class="buttonContainer">
    <button id="redbutton">REDS</button>
    <button id="bluebutton">BLUES</button>
    <button id="greenbutton">GREENS</button>
    <button id="otherbutton">OTHERS</button>
  </div>
  <div class="productContainer">
    <% for( let i = 0; i < products.length; i++ ) { %>
    <div class="listing">
      <div class="listingImg mb-2">
        <a href="/products/<%= products[i].id%>">
          <img src="<%= products[i].cover %>"
        /></a>
      </div>
      <div class="listingTitle">
        <a href="/products/<%= products[i].id%>">
          <p><%= products[i].title %></p></a
        >
      </div>
      <div class="listingPrice">
        <p>$<%= products[i].price %></p>
      </div>
      <div class="listingButton">
        <button id="buyNow">Buy it now</button>
        <button id="addCart" value="<%= products[i].id%>">Add to Cart</button>
      </div>
    </div>
    <% } %>
  </div>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/jquery.js"></script> -->
